@using WebStore.Areas.Customer.ViewModels
@using WebStore.Extensions
@using WebStore.HtmlHelpers
@using Customer = WebStore.HtmlHelpers.Customer
@model ProductListItemCartSectionViewModel;
@{
    var reloadUrl = Url.Action("ListItemCartSection", "Product", new { Area = "Customer", ProductId = Model.ProductId });
    var reloadLinkPurpose = DataAttributes.InsertAttribute(
        DataAttributes.AttributeName.Purpose, Customer.DataPurposes.ItemCartSectionReloadButton);
    var containerCelector = string.Join(
            "", 
            DataAttributes.InsertAttributeSelector(
                DataAttributes.AttributeName.Purpose, Customer.DataPurposes.ItemCartSection),
            DataAttributes.InsertAttributeSelector(
                DataAttributes.AttributeName.Id, Model.ProductId.ToString()));
    var reloadAjaxAttributes = new Ajax.Unobtrusive 
    { 
        Update = containerCelector
    };
    var addToCartAjaxAttributes = new Ajax.Unobtrusive 
    { 
        Success = "AddOrRemoveCartItemSuccess", 
        Update = containerCelector
    };
    var addToCartUrl = Url.Action("ListAddToCart", "Buying", new { Area = "Customer", ProductId = Model.ProductId });
    var removeFromCartUrl = Url.Action("ListRemoveFromCart", "Buying", new { Area = "Customer", ProductId = Model.ProductId });
    var addToCartPurposeAttribute = DataAttributes.InsertAttribute(
        DataAttributes.AttributeName.Purpose, Customer.DataPurposes.ProductAddToCartButton);
    var removeFromCartPurposeAttribute = DataAttributes.InsertAttribute(
        DataAttributes.AttributeName.Purpose, Customer.DataPurposes.ProductRemoveFromCartButton);
    var productQuantityGoodsInCartPurposeAttribute = DataAttributes.InsertAttribute(
        DataAttributes.AttributeName.Purpose, Customer.DataPurposes.ProductQuantityGoodsInCart);
}
<a href="@reloadUrl" @Html.Raw(reloadAjaxAttributes) @Html.Raw(reloadLinkPurpose) class="d-none"></a>
<a href="@removeFromCartUrl" @Html.Raw(addToCartAjaxAttributes) @Html.Raw(addToCartPurposeAttribute) class="btn btn-outline-info input-group-text">
    <i class="bi bi-cart-dash text-dark"></i>
</a>
<input type="text" id="total" class="form-control text-center" value="@(Model.Total.ToMoney())" disabled>
<a href="@addToCartUrl" @Html.Raw(addToCartAjaxAttributes) @Html.Raw(removeFromCartPurposeAttribute) class="btn btn-outline-info">
    <i class="bi bi-cart-plus text-dark"></i>
    <span @Html.Raw(productQuantityGoodsInCartPurposeAttribute) class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        @(Model.Count)
    </span>
</a>